// ------ VARIABLES ------
// Colors
$primary: #d3573c;
$secondary: #901c1c;
$secondary-bg: #db8876;
$white: #fff;
$black: #000;
$secondary-dark-grey: #525252;
$secondary-light-grey: #fafafa;

// Fonts styles
$font-default: "DM Sans", Arial, Helvetica, sans-serif;

// Others
$transition-default: 0.3s all;
$circle-radius: 3rem;
