// ------ HEADER ------

// Header Home Page
header {
  max-width: $xl;
  margin: auto;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;

    .logo {
      flex: 0 0 20%;
      margin: 2.5rem 0;

      img {
        width: $one-unit * 20;
      }
    }

    .nav {
      flex: 0 0 50%;
    }

    @include screen-max($sm) {
      margin-bottom: 3rem;

      .logo {
        order: 1;
        margin: 0;

        img {
          width: $one-unit * 13;
        }
      }

      .main-title {
        order: 1;
        font-size: 1.4rem;
      }

      .nav {
        order: 2;
        flex: 0 0 100%;
        margin-top: 4rem;
      }
    }
  }
}
